{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "window": true,
    "Valine": true
  },
  "rules": {
    "semi": "off",
    "no-new": "off",
    "comma-dangle": "off",
    "object-curly-newline": "off",
    "react/no-danger": "off",
    "react/prop-types": "off",
    "react/jsx-no-target-blank": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off"
  }
}