.post {
  margin-top: 1rem;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  small {
    display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 1rem;
  }
  .origin {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .content {
    margin-bottom: 6rem;
  }
}