.post {
  > h2 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    color: rgb(28, 160, 134);
  }
  small {
    display: block;
    font-size: 12px;
    color: #a6a6a6;
    margin-bottom: 16px;
  }
  .origin {
    font-size: 14px;
    margin-bottom: 1rem;
  }
  .content {
    max-width: 660px;
    margin-bottom: 6rem;

    p {
      font-size: 14px;
    }
  }
}

.tag {
  width: 600px;
  margin: 120px auto;

  h1 {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .post {
    padding: 0 16px;
  }
}