$color: rgba(28, 160, 134, 0.6);
$color-hover: rgba(28, 160, 134, 1); 
$color-disabled: rgba(28, 160, 134, 0.3);

.list {
  margin-top: 1rem;

  h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
  }

  .date {
    font-size: 12px;
    color: #a6a6a6;
    padding-top: 4px;
    margin-bottom: 32px;
  }

  .excerpt {
    max-width: 660px;
  }

  .pagination {
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0 32px;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      height: 32px;
      line-height: 32px;

      li {
        padding: 0 8px;
        margin: 0;
        cursor: pointer;

        &.active {
          color: $color;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      width: 72px;
      height: 32px;
      border: none;
      background: #fff;
      color: $color;
      outline: none;
      cursor: pointer;

      &.disabled {
        color: $color-disabled;
        &:hover {
          color: $color-disabled;
          text-decoration: none;
        }
      }
      &:hover {
        color: $color-hover;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .list {
    padding: 0 16px;
  }
}