.list {
  margin-top: 1rem;

  h3 {
    margin-top: 0;
  }
  .date {
    padding-left: 1rem;
    font-weight: 100;
    font-size: 0.7rem;
    color: #999;
  }
  .excerpt {
    font-size: 0.8rem;
  }
}