.container {
  display: flex;
  margin: 32px auto;
  max-width: 1024px;
  overflow: hidden;

  .content {
    flex: 1;
  }
  
  aside {
    box-sizing: border-box;
    width: 304px;
    height: 600px;
    padding: 0 40px;
    border-left: 1px solid rgba(28, 160, 134, 0.1);
  }
}