$border: 1px solid rgba(28, 160, 134, 0.1);

.container {
  display: flex;
  margin: 32px auto;
  max-width: 1024px;
  overflow: hidden;

  .content {
    flex: 1;
  }
  
  aside {
    box-sizing: border-box;
    width: 304px;
    height: 600px;
    padding: 0 40px;
    border-left: $border;
  }

  @media screen and (max-width: 720px) {
    aside {
      display: none;
    }
  }

  .profile {
    text-align: center;
    padding-bottom: 32px;
    border-bottom: $border;

    img {
      width: 160px;
      height: 160px;
      margin-bottom: 8px;
      border-radius: 50%;
    }
  }
}