$border: 1px solid rgba(28, 160, 134, 0.1);

.page {
  position: relative;
  padding-bottom: 44px;
  min-height: 100vh;
}

.container {
  display: flex;
  margin: 16px auto;
  max-width: 1024px;
  overflow: hidden;

  .content {
    flex: 1;
    min-height: 980px;

    a {
      background-image: none;
    }
  }
  
  aside {
    box-sizing: border-box;
    width: 304px;
    height: 600px;
    padding: 0 40px;
    border-left: $border;

    a {
      background-image: none;
    }
  }

  @media screen and (max-width: 720px) {
    aside {
      display: none;
    }
  }
  
  .profile {
    text-align: center;
    
    img {
      width: 160px;
      height: 160px;
      margin-bottom: 8px;
      border-radius: 50%;
    }
    .desc {
      font-size: 12px;
    }
  }
  
  .contact {
    text-align: center;
    padding-bottom: 1.25rem;
    border-bottom: $border;

    h4 {
      font-size: 16px;
      font-weight: normal;
    }
    a {
      font-size: 12px;

      &:nth-child(2) {
        padding: 0 16px;
      }
    }
  }

  .search {
    padding-top: 3.25rem;
    text-align: center;

    .searchwrapper {
      position: relative;
      width: 100%;
      height: 32px;
    }

    input {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 184px;
      margin-left: -92px;
      outline: none;
      border: 0;
      color: rgba(0, 0, 0, 0.8);
      border-bottom: 1px solid rgba(28, 160, 134, 0.6);
      transition: all 0.3s;
      
      &:focus {
        width: 224px;
        margin-left: -112px;
        border-bottom: 1px solid rgb(28, 160, 134);
      }
    }

    span {
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
      font-size: 20px;
      color: rgba(28, 160, 134, 0.6);

      &:hover {
        color: rgb(28, 160, 134);
      }
    }
    
    .tags {
      list-style: none;

      li {
        display: inline-block;
        height: 24px;
        margin: 8px 8px 0 0;
        padding: 0 8px;
        border-radius: 4px;
        background-color: rgba(28, 160, 134, 0.1);

        a {
          color: #a6a6a6;
        }
      }
    }
  }
  
  .qrcode {
    text-align: center;

    > div {
      padding: 2em 0 0.6em 0;
      color: #a6a6a6;
    }
  }

  code {
    font-size: 1em;
  }
}

header {
  height: 49px;
  line-height: 48px;
  border-bottom: $border;
  font-size: 24px;

  .nav {
    width: 1024px;
    margin: 0 auto;
  }
  @media screen and (max-width: 950px) {
    .nav {
      padding: 0 16px;
    }
  }
  .links {
    float: right;
    font-size: 14px;

    a {
      font-weight: 300;
      padding-left: 32px;
    }
  }
  a {
    text-shadow: none;
    background-image: none;
  };
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 16px 0;
  border-top: $border;
  text-align: center;
  font-size: 12px;
  color: #a6a6a6;
  
  a {
    padding-left: 32px;
    background-image: none;
    color: #a6a6a6;
  }
}

// code[class*="language-"],
// pre[class*="language-"] {
//   background: #f7f7f9;
//   font-size: 14px;
//   color: #303030;
//   font-family: Menlo,Consolas,Monaco,"Courier New",monospace;
// }