@font-face {
  font-family: 'iconfont';  /* project id 412769 */
  src: url('//at.alicdn.com/t/font_412769_rkm1p15qai.eot');
  src: url('//at.alicdn.com/t/font_412769_rkm1p15qai.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_412769_rkm1p15qai.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_412769_rkm1p15qai.woff') format('woff'),
  url('//at.alicdn.com/t/font_412769_rkm1p15qai.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_412769_rkm1p15qai.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e605";
}
.icon-home:before {
  font-size: 24px;
  content: "\e64f";
}
.icon-arrow-up:before {
  content: "\e60a";
}